
.headerDesign {
  background-color: #001534;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.headerDesign h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}


.horizontal {
  list-style-type: none;
  display: flex;
  border-color: #001534;
  box-shadow: 0 2px 4px rgba(1, 1, 1, 1.1);
}
.horizontal li {
  margin-right: 20px;
  border-color: #001534;
}

.horizontal li :hover {
  color: #e0af2f;
}