.para-image{
 display: flex;
 align-items: start;
 justify-content:space-evenly;
 
}



.image{
    max-width: 100%;
    height: auto;
    width: 500px;
    height: 250px;
    align-items: right;
    /* margin: 0; */
    padding: 0;
  vertical-align: auto;
 


}
.image img {
    width: 500px;
    height: 250px;
   margin-right: 170px;
    align-items: right;
    /* margin: 0; */
    padding: 0;
  vertical-align: auto;

    

}
.para p {
    text-align: left;
    margin: 0 0 10px;
    word-spacing: 2px;
    
}
.list-item{

    display: flex;

    align-items: center;

flex-wrap: wrap;

justify-content:space-evenly;

}


.list-item img{
width: 250px;
height: 150px;
position: relative;

margin: 70px;

}
p{
margin-bottom: 20px;
margin-left: 10px;

}

